#mylist {
	right: 0%;
	width: 350px;
	height: 600px;
	background: #D9E5FF;
	z-index: 1;
	padding: 0px;
	margin-top: 5px;
	border-radius: 10px;
}

/* ºÎÆ®½ºÆ®·¦ navbar */
.navbar-default .navbar-nav > li > a {
	font-weight: bold;
	font-size: 11pt;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: #c9d6de;
	border-radius: 5px;
	margin: 1px;
}

.navbar-default {
  background-color: #f0f5f9;
  border-color: #c9d6de;
}
.navbar-default .navbar-brand {
  color: #52616a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #52616a;
}
.navbar-default .navbar-text {
  color: #52616a;
}
.navbar-default .navbar-nav > li > a {
  color: #52616a;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #52616a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #52616a;
  background-color: #c9d6de;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #52616a;
  background-color: #c9d6de;
}
.navbar-default .navbar-toggle {
  border-color: #c9d6de;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c9d6de;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #52616a;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #52616a;
}
.navbar-default .navbar-link {
  color: #52616a;
}
.navbar-default .navbar-link:hover {
  color: #52616a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #52616a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #52616a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #52616a;
    background-color: #c9d6de;
  }
}